body {
    width: 500px;
    margin: 0;
    padding: 0;
}

@keyframes expandText {
    0% {
      width: 0.4ch;
    }
    100% {
      width: 3.8ch;
    }
  }

  @keyframes expandText2 {
    0% {
      width: 0.87ch;
    }
    100% {
      width: 6ch;
    }
  }

  @keyframes like-animation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

  .animate-expand {
    animation: expandText 1s ease-in-out forwards;
    overflow: hidden;
    white-space: nowrap;
  }

  .animate-expand-2 {
    animation: expandText2 1s ease-in-out forwards;
    overflow: hidden;
    white-space: nowrap;
  }

  .animate-like {
    animation: like-animation 0.5s ease-in-out;
}

  .animate-expand.delay-1 {
    animation-delay: 0.4s;
    width: 0.4ch;
  }

  .animate-expand-2.delay-1 {
    animation-delay: 0.4s;
    width: 0.87ch;
  }


  #showSavedIdeas {
    top: -5px;
  }